.container{
  padding-top: 70px;


}

body{
  font-weight:bold;
  background:url('https://img2.wallspic.com/previews/2/2/1/0/1/110122/110122-pink-atmosphere-texture-blue-violet-x350.jpg');

}


.jumbotron{
  opacity: 0.8;
}
a
{
  margin-top: 3px;
  font-weight: bold;
  font-style: italic;

}
.btn btn-primary btn-xs{
  margin-bottom: 2px;
}
