body{
  background: url('https://img2.wallspic.com/previews/2/2/1/0/1/110122/110122-pink-atmosphere-texture-blue-violet-x350.jpg');
}

nav{
  opacity: 0.82;
}
.card{
  opacity: 0.8;
  margin-top:100px;
  padding-bottom: 40px;


}
.col-12{
  margin-left: 15px;
  margin-bottom: 15px;
}
